.alertService {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  bottom: 24px;
  opacity: 0;
  transition: all 240ms cubic-bezier(0, 0, 0.3, 1);
  transform: translateX(-100%) translateX(-24px);
}

.alertService.alertService-active {
  transition-delay: 240ms;
  transform: translateX(0%);
  opacity: 1;
  animation-fill-mode: forwards;
}

.alertService.alertService-down {
  transform: translateY(100%) translateY(16px);
  opacity: 1;
  animation-fill-mode: forwards;
}

.alertService.alertService-up {
  transition-delay: 120ms;
  transition-duration: 120ms;
  transition-timing-function: cubic-bezier(0.4, 0.14, 1, 1);
  transform: translateY(0%);
  animation-fill-mode: forwards;
  opacity: 1;
}

.alertService.alertService-left {
  animation: 120ms cubic-bezier(0.4, 0.14, 1, 1);
  animation-fill-mode: forwards;
  opacity: 0.25;
}

.alertService:nth-child(n + 3) {
  transform: translateY(200%) translateY(16px);
}
